@font-face {
  font-family: 'robotoBlack';
  src: url('./roboto/Roboto-Black.ttf');
}
@font-face {
  font-family: 'robotoBold';
  src: url('./roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'robotoExtraBold';
  src: url('./roboto/Roboto-ExtraBold.ttf');
}
@font-face {
  font-family: 'robotoExtraLight';
  src: url('./roboto/Roboto-ExtraLight.ttf');
}
@font-face {
  font-family: 'robotoLight';
  src: url('./roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: 'robotoMedium';
  src: url('./roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'robotoRegular';
  src: url('./roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'robotoSemiBold';
  src: url('./roboto/Roboto-SemiBold.ttf');
}
@font-face {
  font-family: 'robotoThin';
  src: url('./roboto/Roboto-Thin.ttf');
}
