@use '../variables' as *;

.desktopNavigate {
  .navList {
    display: flex;
    gap: 15px;

    .navItem {
      .navLink {
        text-transform: uppercase;
        font-family: $primaryFontMedium;
        color: $primaryColor;
        border: 1px solid transparent;
        padding: 0px 10px;
        transition: all 0.4s;

        &.activeLink,
        &:hover {
          transform: scale(110%);
          border-color: #aae8f5;
          border-radius: 7px;
          box-shadow: 0px 2px 7px #aae8f5;
        }
      }
    }
  }
}
