@use '../variables' as *;

.toolsContainer {
  display: flex;
  gap: 60px;
  .iconContainer {
    position: relative;

    .cartIcon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      user-select: none;
      color: $primaryColor;
    }
    .quantGoods {
      position: absolute;
      top: -4px;
      left: 24px;
      background-color: #fa8231;
      border-radius: 50%;
      min-width: 16px;
      min-height: 16px;
      user-select: none;
      padding: 2px;
      text-align: center;
      font-size: 12px;
      color: $primaryColor;
    }
  }
}
