@use './../../../variables' as *;

.appointmentSection {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 5px 3px #eaebee;

  .title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 30px;
    color: #fff;
    background-color: $secondaryColor;
    padding: 26px;
    text-align: center;
  }
  .appointmentForm {
    padding: 20px;

    .labelContainer {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 10px;
    }

    .additionalInfo {
      color: $secondaryColor;
      cursor: pointer;
    }

    .inputContainer {
      position: relative;
      margin-bottom: 10px;

      .appointmentEnterComment {
        width: 100%;
        height: 90px;
        resize: none;
        @include inputsStyle;

        &:focus {
          @include focusedInput;
        }
      }

      .appointmentEnter {
        @include inputsStyle;
        padding: 20px 10px 5px 10px;
        width: 100%;

        &::placeholder {
          opacity: 0;
        }

        &:focus {
          @include focusedInput;
        }
        &:not(:placeholder-shown),
        &:focus {
          & + .appointmentLabel {
            top: 4px;
            font-size: 12px;
            color: #9a9999;
          }
        }
      }
      .appointmentLabel {
        position: absolute;
        top: 14px;
        left: 10px;
        cursor: text;
        user-select: none;
        transition: all 0.4s;
      }
    }
    .signUpBtn {
      border-radius: 5px;
      color: #fff;
      padding: 12px;
      background-color: $secondaryColor;
      width: 100%;
    }
  }
}
