@use './../../../variables' as *;

.appointmentSection {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 5px 3px #eaebee;
  min-width: 316px;
  width: 25%;

  .title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 30px;
    color: #fff;
    background-color: $secondaryColor;
    padding-top: 26px;
    padding-bottom: 26px;
    text-align: center;
  }
  .titleCost {
    @extend .title;
    padding: 8px;

    .costText {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .cost {
      font-size: 24px;

      &::after {
        content: '$';
        margin-left: 5px;
      }
    }
  }
  .appointmentForm {
    padding: 20px;

    .labelContainer {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 10px;
    }

    .additionalInfo {
      color: $secondaryColor;
      cursor: pointer;
    }

    .inputContainer {
      position: relative;
      margin-bottom: 20px;

      .appointmentEnterComment {
        width: 100%;
        height: 90px;
        resize: none;
        @include inputsStyle;

        &:focus {
          @include focusedInput;
        }
      }

      .appointmentEnter {
        @include inputsStyle;
        padding: 20px 10px 5px 10px;
        width: 100%;

        &::placeholder {
          opacity: 0;
        }

        &:focus {
          @include focusedInput;
        }
        &:not(:placeholder-shown),
        &:focus {
          & + .appointmentLabel {
            top: 4px;
            font-size: 12px;
            color: #9a9999;
          }
        }
      }
      .appointmentLabel {
        position: absolute;
        top: 14px;
        left: 10px;
        cursor: text;
        user-select: none;
        transition: all 0.4s;
      }
      .inputError {
        position: absolute;
        left: 10px;
        right: 0px;
        top: 105%;
        color: red;
        font-size: 12px;
      }
    }
    .signUpBtn {
      border-radius: 5px;
      color: #fff;
      padding: 12px;
      background-color: $secondaryColor;
      width: 100%;

      &:active {
        opacity: 0.8;
        transform: translate(1px, 1px);
        box-shadow: -2px -2px 2px #ccc;
      }
      &:disabled {
        background-color: red;
      }
    }
  }
}
