@use './components/variables' as *;

* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-size: 14px;
  font-family: $primaryFontRegular;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $primaryBackgroundColor;
  color: black;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
a,
a:link,
a:visited {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
a {
  display: inline-block;
  cursor: pointer;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
